accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
tensordict
torchdata
transformers==4.57.1
vllm==0.11.0
wandb
torch==2.8.0
tensorboard
ray==2.48.0
openai